<h1 id="tableLabel">Create Form</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!makes?.length"><em>Loading...</em></p>

<form method="post" (ngSubmit)="handleSubmit()" #f="ngForm">
  <div class="form-group" *ngIf="makes.length">
      <label>Vehicle makes</label>
      <select name="make" class="form-control"
              (change)="handleMakeChange($event)"
              [(ngModel)]="vehicle.makeId"
              [ngClass]="{'is-invalid': makeControl.touched && makeControl.value == 0}"
              #makeControl="ngModel"
      >
        <option [ngValue]="0">Select</option>
        <option [value]="make.id" *ngFor="let make of makes">
          {{ make.name }}
        </option>
      </select>
    <div class="alert alert-danger" *ngIf="makeControl.touched && makeControl.value == 0">Please specify the make.</div>
  </div>

  <div class="form-group mt-3">
    <p class="form-control" *ngIf="!models.length">
      <span class="text-danger">*</span>
      Please select a model
    </p>
  </div>
  <div class="form-group" *ngIf="models.length">
    <label>Selected vehicle models</label>
    <select name="model" class="form-control" [(ngModel)]="vehicle.modelId">
      <option value="0">Select</option>
      <option [value]="[model.id]" *ngFor="let model of models">
        {{ model.name }}
      </option>
    </select>
  </div>

  <div class="form-group mt-3">
    <label>Is this vehicle registered?</label>
    <div class="form-group">
      <input type="radio" id="its" name="is_registered" [value]="true" [(ngModel)]="vehicle.isRegistered">
      <label for="its" class="mx-2">Yes</label>
      <input type="radio" id="its-not" name="is_registered" [value]="false" [(ngModel)]="vehicle.isRegistered">
      <label for="its-not" class="mx-2">No</label>
    </div>
  </div>

  <div class="form-group mt-3" *ngIf="features.length">
    <label>Vehicle features</label>
    <div *ngFor="let f of features" class="checkbox" (change)="handleFeatureToggle(f.id, $event)">
      <label for="feature{{ f.id }}">
        <input type="checkbox" id="feature{{ f.id }}"
               [checked]="vehicle.featureIds.includes(f.id)"
        > {{ f.name }}
      </label>
    </div>
  </div>

  <div class="form-group mt-3">
    <label for="contact-name">Name</label>
    <input
      type="text"
      class="form-control"
      name="contact-name"
      id="contact-name"
      [(ngModel)]="vehicle.contact.name">
  </div>

  <div class="form-group mt-3">
    <label for="contact-phone">Phone</label>
    <input
      type="text"
      class="form-control"
      name="contact-phone"
      id="contact-phone"
      [(ngModel)]="vehicle.contact.phone">
  </div>

  <div class="form-group mt-3">
    <label for="contact-email">Email</label>
    <input
      type="text"
      class="form-control"
      name="contact-email"
      id="contact-email"
      [(ngModel)]="vehicle.contact.email">
  </div>

  <div class="form-group mt-3">
    <button class="mx-2 btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
    <button class="mx-2 btn btn-outline-danger"
            type="button"
            (click)="handleDelete()"
            [disabled]="!vehicle.id">Delete</button>
  </div>
</form>
